.slider-box{
  position:relative;
  width:640px;
  height:420px;
	overflow:hidden;
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1)
}
.slider{
  position:relative;
  width:10000px;
  height:210px;
}
.slider img{
	float:left;
	width:640px;
  height:420px;
}
.slider-box .prev, .slider-box .next{
  position:absolute;
	top:50%;
	transform: translateY(-50%);
  display:block;
  width:29px;
  height:29px;
  cursor:pointer;
}
.slider-box .prev{
  left:10px;
  background:url(img/slider_controls.png) no-repeat 0 0;
}
.slider-box .next{
  right:10px;
  background:url(img/slider_controls.png) no-repeat -29px 0;
}
.bullets{
  position:absolute;
  bottom:10px;
  	left:50%;
	transform: translateX(-50%);
  height:11px;
  padding:0;
  margin:0;
  list-style:none;
}
.bullets li{
  width:11px;
  height:11px;
  margin:0 3px 0 0;
  padding:0;
  float:left;
  background:url(img/slider_controls.png) no-repeat 0 -30px;
}
.bullets li.active{
  background-position:0 -42px;
}