/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
/*------------------------------*/
html, body, ul, li{
    margin: 0;
    padding: 0;
}



.gallery{
    width: 860px;    
    margin: 0 auto;
		text-align: center;
		overflow: hidden;
		
		margin-bottom: 20px;
		position: relative;
}

.gallery .photos{
    position: relative;
		height: 670px;
		
		display: flex;
		 transition: opacity 1.5s;
		 
}

.gallery .photos img{
    width: 860px;
    /* width: 270px; */
    
   
}

.gallery .buttons .prev,
.gallery .buttons .next{
	position: absolute;
	z-index: 1000;
	top: 50%;
	left:10px;
	width: 30px;
	height: 30px;
	transform: rotate(225deg);
	border:5px solid rgba(255,255,255, 0.5);
		border-left:none;
		border-bottom:none;
	}
	.gallery .buttons .next{
		left: auto;
		right: 10px;
		transform: rotate(45deg);
	}

	.gallery.gallery-1,
	.gallery.gallery-6{
    width: 860px;
    margin: 0 auto;
    text-align: center;
}

.gallery.gallery-1 .photos,
.gallery.gallery-6 .photos{
    position: relative;
    height: 670px;
}

.gallery.gallery-1 .photos img,
.gallery.gallery-6 .photos img{
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

.gallery.gallery-1 .photos img.showed,
.gallery.gallery-6 .photos img.showed
{
    opacity: 1;
}

	.gallery.gallery-4,
	.gallery.gallery-8 {
    width: 860px;
    margin: 0 auto;
		text-align: center;
		overflow: hidden;
		margin-bottom: 20px;
		position: relative;
}

.gallery.gallery-4 .photos,
.gallery.gallery-8 .photos{
    position: relative;
		height: 670px;
		/* display: flex; */
		 /* transition: 1.5s; */
}

.gallery.gallery-4 .photos img,
.gallery.gallery-8 .photos img{
		width: 860px;
		height: 100%;
		position: absolute;
		/* opacity:0; */
   
}
.gallery.gallery-4 .photos img:first-child,
.gallery.gallery-8 .photos img:first-child{
	/* opacity:1; */
}

.gallery.gallery-5,
.gallery.gallery-7
{
    width: 860px;
    margin: 20px auto;
    text-align: center;
	overflow: hidden;
}
.gallery.gallery-5 .buttons,
.gallery.gallery-7 .buttons {
	margin-top: 20px;
}

.gallery.gallery-5 .photos,
.gallery.gallery-7 .photos
{
    position: relative;
    height: 670px;
}

.gallery.gallery-5 .photos img,
.gallery.gallery-7 .photos img{
    position: absolute;
    width: 0;
		left: 0;
    transition: opacity 1s;
}
.gallery.gallery-5 .photos img.showed,
.gallery.gallery-7 .photos img.showed{
     width: 100%;
}

.gallery-9{
	 width: 540px;
	 /* overflow: initial; */
	 border: 5px solid red;
}
.gallery-9 .photos{    
	 left: -540px;
	 height: 420px;
}
.gallery-9 .photos img{
    width: 540px;   
}
.gallery-9 .bullets{	
	display:flex;
	position:absolute;
	bottom:30px;
	left: 50%;
	transform: translate(-50%, 0);
	list-style: none;

}
.gallery-9 .bullets li{
	width: 12px;
	height: 12px;
	border-radius:50%;
	margin:5px;
	background: rgba(0,0,0,0.5);
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.8);
}

.gallery-9 .pagination{	
	display:flex;
	position:absolute;
	bottom:30px;
	left: 50%;
	transform: translate(-50%, 0);
	list-style: none;

}
.gallery-9 .pagination li{
	width: 12px;
	height: 12px;
	border-radius:50%;
	margin:5px;
	/* background: rgba(0,255,0,0.5); */
	box-shadow: 0 0 3px 1px #20b5a1;
	cursor: pointer;
}
.gallery-9 .pagination li.active{
	background: #20b5a1;;
}
#next,#prev{
	z-index: 1000;
}
