html, body, ul, li{
    margin: 0;
    padding: 0;
}
ul, li{
	list-style: none;
	display:inline-block;
}


.gallery{
	position: relative;
	height:200px;
	width: 250px;		    
	margin: 50px auto;
	border: 3px solid red;
	text-align: center;
	overflow: hidden;	
}

.gallery .slides{
  position: absolute;
	height:100%;		
	display: flex;
	
	/* z-index: 100000;		  */
}

.gallery .slides .slide{
  width: 250px;
	height: 100%;	
}
.gallery .slides .slide img{
  width: 250px;
	height: 100%;	
}

.gallery .buttons .prev,
.gallery .buttons .next{
	position: absolute;
	z-index: 10000;
	top: 50%;
	left:5px;
	width: 10px;
	height:10px;
	transform: rotate(225deg);
	border:5px solid rgba(255,0,0, 0.8);
	border-left:none;
	border-bottom:none;
	cursor: pointer;
}
.gallery .buttons .next{
	left: auto;
	right: 5px;
	transform: rotate(45deg);
}

.gallery .bullets{	
	display:flex;
	position:absolute;
	bottom:30px;
	left: 50%;
	transform: translate(-50%, 0);
	list-style: none;
}
.gallery .bullets li{
	width: 12px;
	height: 12px;
	border-radius:50%;
	margin:5px;
	background: rgba(0,0,0,0.5);
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.8);
}

.gallery .pagination{	
	display:flex;
	position:absolute;
	bottom:30px;
	left: 50%;
	transform: translate(-50%, 0);
	list-style: none;

}
.gallery .pagination li{
	width: 12px;
	height: 12px;
	border-radius:50%;
	margin:5px;
	/* background: rgba(0,255,0,0.5); */
	box-shadow: 0 0 3px 1px #20b5a1;
	box-shadow: 0 0 3px 1px red;
	cursor: pointer;
}
.gallery .pagination li.active{
	background: #20b5a1;
	background: red;
}

