
html, body, ul, li{
    margin: 0;
    padding: 0;
}



.gallery{
    width: 860px;    
    margin: 0 auto;
		text-align: center;
		overflow: hidden;		
		margin-bottom: 20px;
		position: relative;
}

.gallery .photos{
    position: relative;
		height: 670px;		
		display: flex;
		transition: opacity 1.5s;
}

.gallery .photos img{
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s;  
}

.gallery .buttons .prev,
.gallery .buttons .next{
	position: absolute;
	z-index: 1000;
	top: 50%;
	left:10px;
	width: 30px;
	height: 30px;
	transform: rotate(225deg);
	border:5px solid rgba(255,255,255, 0.5);
	border-left:none;
	border-bottom:none;
}
.gallery .buttons .next{
		left: auto;
		right: 10px;
		transform: rotate(45deg);
	}
.gallery .photos img.showed{
    opacity: 1;
}
.gallery .pagination{	
	display:flex;
	position:absolute;
	bottom:30px;
	left: 50%;
	transform: translate(-50%, 0);
	list-style: none;
	z-index: 1;
}
.gallery .pagination li{
	width: 12px;
	height: 12px;
	border-radius:50%;
	margin:5px;
	/* background: rgba(0,255,0,0.5); */
	box-shadow: 0 0 3px 1px #20b5a1;
	cursor: pointer;
}
.gallery .pagination li.active{
	background: #20b5a1;;
}
#next,#prev{
	z-index: 1000;
}

